main
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}
article
{
	width: 100%;
	/*padding-top: 10px;*/
	/*padding-bottom: 10px;*/
	/*min-height: calc(100vh - 170px - 10vh - 20px);*/
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
}

aside
{
	/*width: 200px;*/
	margin-top: 20px;
	margin-left: 10px;
}

aside:nth-child(2)
{
	width: calc(100% - 300px);
	text-align: justify;
}

aside img
{
	width: 200px;
	height: 300px;
}

#ajout
{
	position: absolute;
	width: auto;
	height: auto;
	top: 10px;
	right: 10px;
	border-radius: 10px;
	color: white;
	padding: 5px;
	background: #3c6382;
	box-shadow: 1px 1px 20px black;
}