main
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
article:nth-child(1)
{
	width: 100%;
}

article:nth-child(2)
{
	width: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

aside
{
	position: relative;
	margin: 15px;
}

article img
{
	width: 200px;
	height: 300px;
}

aside img:hover
{
	opacity: 0.5;
}

aside a
{
	color: black;
	text-decoration: none;
}
.price
{
	position: absolute;
	top: 0px;
	width: auto;
	height: auto;
	color: white;
	padding: 10px;
	background: #3c6382;
}