
main
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	min-height: calc(100vh - 170px - 10vh - 20px);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

article
{
	margin-top: 20px;
	width: 40%;
	height: 300px;
	background: #3c6382;
	border-radius: 2px;
}

article h3
{
	color: white;
	margin-left: 10px;
}

article table
{
	margin: auto;
}

article .text::placeholder
{
	color: white;
}

article .text
{
	font-size: 0.9em;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	border: none;
	background: none;
	border-bottom: 1px solid white;
	height: 20px;
	color: white;
	outline: none;
}

article .btn
{
	background: white;
	border: 1px solid #3c6382;
	color: #3c6382;
	height: 25px;
	outline: none;
	margin-top: 10px;
}

article .btn:hover
{
	background: #3c6382;
	border: 1px solid white;
	color: white;
}