main
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}
article
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

aside
{
	margin-top: 20px;
	margin-left: 10px;
}

.menu_compte
{
	margin-left: 20px;
	width: 200px;
	background: #3c6382;
}

.menu_compte a
{
	text-decoration: none;
	color: white;
}