main
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-wrap: wrap;
}
article:nth-child(2)
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	/*min-height: calc(100vh - 170px - 10vh - 20px);*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

aside
{
	height: 300px;
	background: #3c6382;
	border-radius: 2px;
}

article img
{
	width: 200px;
	height: 300px;
}

article:nth-child(1) h3
{
	color: black;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	margin-left: 10px;
}