body
{
	margin: 0px;
	padding: 0px;
	font-family: "Avenir next", sans-serif;
	color: black;
	background: rgb(22,22,29);
}

content
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header
{
	width: 100%;
	height: 170px;
	background: rgb(22,22,29);
}

header a
{
	text-decoration: none;
	color: black;
}
header h1 a
{
	color: white;
}
header h1
{
	position: absolute;
	top: 30px;
	left: 20px;
	color: white;
	text-transform: uppercase;
	margin: 0px;
}

header table
{
	position: absolute;
	left: 300px;
	top: 30px;
}

#searchText
{
	width: 30vh;
	height: 10px;
	border-radius: 10px;
	padding: 5px;
	color: #3c6382;
	outline: none;
}

#searchBtn
{
	height: 25px;
	border: 1px solid white;
	color: white;
	border-radius: 10px;
	background: none;
}

#searchBtn:hover
{
	background: white;
	color: #3c6382;
}

nav
{
	position: relative;
	bottom: -100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	border-top: 5px solid #3c6382;
	border-bottom: 1px solid rgb(170,170,170);
	background: white;
	color: black;
}

nav ul
{
	display: flex;
	flex-direction: row;
	list-style: none;
}

nav ul li
{
	margin: 10px;
	border-bottom: 2px solid white;
}

nav ul li:hover
{
	border-bottom: 2px solid #3c6382;
}

main
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: white;
	min-height: calc(100vh - 170px - 10vh - 20px);
}

footer
{
	width: 100%;
	min-height: 10vh;
	background: rgb(22,22,29);
}